<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :priority, class: "form-label" %>
    <%= form.select :priority, Task.priorities.keys.map { |p| [p.titleize, p] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Task.statuses.keys.map { |s| [s.titleize.gsub('_', ' '), s] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn", style: "background-color: #FFD6E0; color: #333;" %>
    <%= link_to "Cancel", tasks_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
<% end %>
